<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberWiki 2077
    </title>
</head>
<body>
    <h1>🔥Builds em destaque</h1>
    <hr>
    <h2><b>Berserker</b></h2>
    <p>Ideal pra quem quer enfrentar inimigos de frente, absorver dano e destruir com armas pesadas ou ataques físicos.</p>
    <p> <b>Atributos chaves</b>: Corpo alto, Reflexos alto, Técnica alta.</p>
<p><b>Perks essenciais</b>: Rip & Tear, Onslaught, Pain to Gain, Adrenaline Rush, Quake.</p>
<p><b>Cibernéticos úteis</b>: Gorilla Arms, BioDyne Berserk, Titanium Bones.</p>
<p>Joga super bem com armas brutas e corpo-a-corpo agressivo.</p>
    <hr>
    <h2><b>Netrunner</b></h2>
    <p>Elimina inimigos à distância usando quickhacks poderosos e estratégias furtivas.</p>
    <p><b>Atributos chaves</b>: Inteligência alta → maior RAM e hacks melhores.</p>
<p><b>Perks essenciais</b>: Hack Queue, Queue Mastery, Embedded Exploit, Overclock.</p>
<p><b>Cibernéticos úteis</b>: Ex-Disk, RAM Upgrade, NetWatch Netdriver Mk.5, Smart Link.</p>
<p>Pode derrubar grupos inteiros sem sequer aparecer na linha de tiro.</p>
<hr>
    <h2><b>Edgerunner</b></h2>
    <p>Esta build é inspirada em David Martinez — usa Sandevistan para combate veloz e brutal.</p>
    <p><b>Atributos chaves</b>: Corpo/Reflexos/Tech altos.</p>
<p><b>Perks essenciais</b>: Edgerunner, Run n’ Gun, License to Chrome, Rip & Tear.</p>
<p><b>Cibernéticos úteis</b>: Zetatech Sandevistan, Gorilla Arms, Reinforced Tendons.</p>
<p>Perfeita pra quem quer destruir grupos de inimigos com poder e velocidade.</p>
</body>
</html>